/* stylelint-disable */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
select,
textarea,
button {
    font: inherit;
}

body {
    margin: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b,
strong {
    font-weight: 700;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

figure {
    margin: 0;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}